.footer-bottom {
  max-width: 100% !important;
  padding: 0px 40px;
  margin: 0px;
  text-align: center;
}
#footer-bottom-last-div {
  border-right: 0px solid white;
}
.footer-bottom-div {
  display: inline-block;
  border-right: 3px solid #57596f;
  width: 30%;
  text-align: center;
  margin: 20px 10px;
}

.footer-bottom {
  background-color: #25273a;
}
.discord-img {
  cursor: pointer;
}
