.card-col {
  display: inline-block;
  margin: 10px 10px;
}
.game-category-card {
  width: 10rem;
}
.game-category-card:hover {
  -ms-transform: scale(1.04); /* IE 9 */
  -webkit-transform: scale(1.04); /* Safari 3-8 */
  transform: scale(1.04);
  cursor: pointer;
}
