.nav-container {
  padding: 20px 0px 0px 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #323448;
  max-width: 100% !important;
}
.logo-col {
  width: 300px !important;
}
.right-col {
  text-align: center;
  vertical-align: middle;
}

.navbar-list-container {
  bottom: 0;
}
