.navbar-list {
  text-align: right;
  background-color: #25273a;
  color: #d9dad8;
}
.list-img {
  height: 20px;
  width: 20px;
}
.navbar-list p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: inline-block;
  font-size: 14px;
  margin: 0px;
  padding: 3px;
}

.navbar-list-row {
  width: 100%;
  padding: 0px;
  margin: 0px !important;
  text-align: center;
}
.navbar-col:hover {
  background-color: #191a27;
  color: white;
  cursor: pointer;
}
.navbar-col:hover p {
  color: white;
}
