@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
.register-comp-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.register-left-side {
  text-align: center;
  border: 1px solid white;
  border-radius: 25px;
  background-color: #191a27;
}
.input-alert-message {
  display: block;
  font-size: 12px;
  color: orange;
  margin: 0px;
  padding: 0px;
}
.register-right-side {
  text-align: center;
  border: 1px solid rgba(92, 88, 88, 0.261);
  border-radius: 25px;
  background-color: #2f3144;
}
.register-right-side-div {
  margin: 30px;
}
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: black;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
.form-control {
  margin-top: 0px;
}
select,
option {
  color: black;
}
.form-group label {
  display: block;
}
label {
  display: block;
}
.btn-block {
  width: 100%;
}
